body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.login-container {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
}

.logo {
    height: 100px; 
    width: auto;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#login-form button {
    background-color: #f47d31;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#login-form button:hover {
    background-color: #d8651e; 
}

.create-account {
    margin-top: 15px;
    font-size: 14px;
}

.create-account a {
    color: #f47d31;
    text-decoration: none;
}

/* register.css */
.register-container {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px; 
}

.logo {
    height: 100px; 
    width: auto;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#register-form button {
    background-color: #f47d31; 
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#register-form button:hover {
    background-color: #d8651e; 
}

.login-link {
    margin-top: 15px;
    font-size: 14px;
}

.login-link a {
    color: #f47d31; 
    text-decoration: none;
}
