<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MindNest - Register</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='images/logo.png') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/login.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="register-container">
      <img
        src="{{ url_for('static', filename='images/logo3.png') }}"
        alt="MindNest Logo"
        class="logo"
      />

      <form id="register-form" method="POST" action="{{ url_for('register') }}">
        {{ form.hidden_tag() }}

        <div class="input-group">
          {{ form.username.label }} {{ form.username(id='username',
          required=True) }} {% for error in form.username.errors %}
          <span style="color: red">{{ error }}</span>
          {% endfor %}
        </div>

        <div class="input-group">
          {{ form.password.label }} {{ form.password(id='password',
          required=True) }} {% for error in form.password.errors %}
          <span style="color: red">{{ error }}</span>
          {% endfor %}
        </div>

        <button type="submit">Register</button>
      </form>

      <div class="login-link">
        Already have an account?
        <a href="{{ url_for('login') }}">Login here</a>
      </div>
    </div>
  </body>
</html>
